body {
  margin: 0;
}

.nav-box {
  display: block;
  margin: 0;
}

.list-item {
  list-style-type: none;
  background-color: var(--green);
  margin: 0;
  padding: 1.5em;
}

.list-item:hover {
  background-color: var(--orange);
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--white);
  text-decoration: none;
  padding: 2em;
  margin: 0;
}
.nav-link:hover {
  color: var(--black);
}
